<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" *ngIf="usuarioLoaded && proveedoresLoaded">
  <div class="row mt-4">
    <div class="col-11 m-auto">
      <ngx-stepper #stepperDemo="stepper" [options]="optionsStepper">
        <ngx-step [label]="'Seleccionar Proveedor'">
          <ngx-step-body>
            <div class="container-fluid">
              <div class="row mt-5">
                <div class="col-8 m-auto">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title text-center">Seleccione el proveedor de los pedidos a agrupar</h3>
                    </div>
                    <div class="card-body">
                      <div class="form-check m-2" *ngFor="let proveedor of proveedores; let i = index">
                        <input class="form-check-input" type="radio" name="exampleRadios"
                               id="{{proveedor.nombre}}" value="{{proveedor.nombre}}" (change)="SelectProveedor(proveedor)" [checked]="i ==0 ? true: null" >
                        <label class="form-check-label" for="{{proveedor.nombre}}">{{proveedor.nombre}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ngx-step-body>
          <ngx-step-actions>
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="nextStepFile()">Siguiente</button>
            </div>
          </ngx-step-actions>
        </ngx-step>
        <ngx-step [label]="'Seleccionar Pedidos'">
          <ngx-step-body>
            <div class="container-fluid">
              <div class="row mt-5">
                <div class="col-8 m-auto">
                  <h3 class="text-center mb-5">Proveedor: {{ (proveedorSel && proveedorSel.nombre ? proveedorSel.nombre : "Proveedor") }}</h3>
                  <input-file
                    #inputPluggin
                    inputId="pedidos"
                    inputAccept={{inputAccept}}
                    disableUpload="true"
                    inputMaxFiles={{inputMaxFiles}}
                    textBrowse="Buscar"
                    textFileSelected="archivos seleccionados"
                    textNoFile="No hay archivos seleccionados"
                    textRemove="Borrar"
                    [(model)]="inputFileModel"
                    (acceptedFile)="onAcceptPedido($event)"
                    (removedFile)="onRemovePedido($event)"
                    (limitReached)="onLimitPedido($event)"
                    (rejectedFile)="onRejectPedido($event)">
                  </input-file>
                </div>
              </div>
            </div>
          </ngx-step-body>
          <ngx-step-actions>
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="previousStepSelProveedor()">Atras</button>
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="nextStepSetCantAPedir()">Siguiente</button>
            </div>
          </ngx-step-actions>
        </ngx-step>
        <ngx-step [label]="'Agrupar Pedidos'">
          <ngx-step-body>
            <div class="container-fluid">
              <div class="row mt-5">
                <div class="col-11 m-auto">
                  <ng2-smart-table
                    [settings]="settingsTable"
                    [source]="sourceDataTable"
                    (editConfirm)="checkUpdateRowDataTable($event)">
                  </ng2-smart-table>
                </div>
              </div>
            </div>
          </ngx-step-body>
          <ngx-step-actions>
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="previousStepSelFiles()">Atras</button>
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="nextStepSetDataTableExport()">Siguiente</button>
            </div>
          </ngx-step-actions>
        </ngx-step>
        <ngx-step [label]="'Exportar Pedido'">
          <ngx-step-body>
            <div class="container-fluid">
              <div class="row mt-5">
                <div class="col-11 m-auto">
                  <ng2-smart-table
                    [settings]="settingsTableExport"
                    [source]="sourceDataTableExport">
                  </ng2-smart-table>
                </div>
              </div>
            </div>
          </ngx-step-body>
          <ngx-step-actions>
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="previousStepSelFiles()">Atras</button>
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="exportFile()">Exportar</button>
            </div>
          </ngx-step-actions>
        </ngx-step>
      </ngx-stepper>
    </div>
  </div>
</div>

