<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-11 m-auto">
      <ngx-stepper #stepperDemo="stepper" [options]="options">
        <ngx-step [label]="'Seleccionar Pedidos'">
          <ngx-step-body>
            <div class="container-fluid">
              <div class="row mt-5">
                <div class="col-8 m-auto">
                  <input-file
                    inputId="images"
                    inputAccept={{inputAccept}}
                    disableUpload="true"
                    inputMaxFiles={{inputMaxFiles}}
                    textBrowse="Buscar"
                    textFileSelected="archivos seleccionados"
                    textNoFile="No hay archivos seleccionados"
                    textRemove="Borrar"
                    [(model)]="inputFileModel"
                    (acceptedFile)="onAccept($event)"
                    (removedFile)="onRemove($event)"
                    (limitReached)="onLimit($event)"
                    (rejectedFile)="onReject($event)">
                  </input-file>
                </div>
              </div>
            </div>
          </ngx-step-body>
          <ngx-step-actions>
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="nextStep()">Siguiente</button>
            </div>
          </ngx-step-actions>
        </ngx-step>
        <ngx-step [label]="'Agrupar Pedidos'">
          <ngx-step-body>
            <table>
              <tr *ngFor="let row of data">
                <td *ngFor="let col of row">{{ col }}</td>
              </tr>
            </table>
          </ngx-step-body>
          <ngx-step-actions>
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="previousStep()">Atras</button>
              <button type="button" class="btn btn-primary btn-lg m-4 px-5" (click)="exportFile()">Exportar</button>
            </div>
          </ngx-step-actions>
        </ngx-step>
      </ngx-stepper>
    </div>
  </div>
</div>

